body{
  font: 14px "FontRansomware", Futura, sans-serif;

  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
